/* Header */

.header
{
	width: 100%;
	position: fixed;
	top: 0;
	padding: 13px;
	height: 24px;
	background: $header;

	z-index: 10;
}

#logo
{
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 50px;
	padding: 15px 0;
	@include box-sizing(border-box);

	background: $logo;

	.h2
	{
		float: left;
		display: inline-block;
		margin: 0 0 0 14px;
	}

	.slogan
	{
		margin: 2px 0 0 7px;
		display: inline-block;

		@media all and (max-width: 400px)
		{
			display: none;
		}
	}

	@media all and (max-width: 500px)
	{
		width: 100%;
	}

	z-index: 2;
}



/********************************************************************************/
/* Pages ou l'utilisateur est connecté */

#button-options
{
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	width: 200px;

	z-index: 3;
}

.profil-name
{
	display: inline-block;
	padding: 15px 30px;
	vertical-align: middle;
}

#options-box
{
	display: block;
	position: fixed;
	right: 0;
	width: 200px;
	padding: 10px;

	background: $header;

	z-index: 1;

	@include box-sizing(border-box);

	@media all and (max-width: 500px)
	{
		width: 100%;
		height: 100%;
		padding: 3%;
	}
}

.options-box-closed
{
	top: -100%;
}

.options-box-open
{
	top: 50px;
}