{% for controle in controles %}
    
	<ul>
		<li>{{ controle.nom }}</li>
		<li>{{ controle.date|date('j/d/Y') }}</li>
		<li><a href="{{ path('kub_notes_professeur_show', {'id': controle.id} )}}">Voir le controle</a></li>
	</ul>

{% endfor %}