{% extends "::base.html.twig" %}

{% block body %}
	
	<section class="section-login">
		<article class="article">
			{% include "KubUserBundle:Security:login_content.html.twig" %}
		</article>
	</section>
	
{% endblock %}