{% block form %}
	
	<span class="prenom">
		{{ form_errors(form.name) }}
		{{ form_label(form.name) }} <div class="input">{{ form_widget(form.name) }}</div>
	</span>

	{% include 'KubEDTBundle:Form:weekpicker.html.twig' with {'form': form.semaines} only %}

{% endblock %}