{% extends "KubUserBundle:User:user_create.html.twig" %}

{% block form %}

	{{ form_widget(form) }}
	<a href="#" id="add-another-tuteurs">Ajouter un tuteur</a>

{% endblock %}

{% block js %}

	<script>
    	// garde une trace du nombre de champs tuteurs qui ont été affichés
    	var tuteurCount = '{{ form.tuteurs | length }}';

	    $(document).ready(function() {
	        $('#add-another-tuteurs').click(function() {
	            var tuteurList = $('#kub_userbundle_eleve_tuteurs_add');

	            var newWidget = tuteurList.attr('data-prototype');
	            newWidget = newWidget.replace(/__name__/g, tuteurCount);
	            tuteurCount++;

	            var newLi = $('<p></p>').html(newWidget);
	            newLi.appendTo(tuteurList);

	            return false;
	        });
	    })
	</script>

{% endblock %}