.article-news
{
	margin: 45px auto;
	padding: 0 0 0 15px;
	max-width: 800px;
	@include pie-clearfix;
}


.head-article
{
	@include pie-clearfix();
	margin: 2px 0;

	span
	{
		float: right;

		@media all and (max-width: 500px)
		{
			float: none;
			display: block;
		}
	}

	.h2
	{
		float: left;

		@media all and (max-width: 500px)
		{
			float: none;
			display: block;
		}
	}
}

.content-article
{
	width: 75%;
	display: inline-block;
	float: left;

	p
	{
		display: inline-block;
		margin: 4px 0 0 0;
		text-align: justify;

		@media all and (max-width: 500px)
		{
			width: 100%;
		}
	}

	.extract
	{
		display: inline-block;
		width: 60%;
		margin: 10px 17px;
		padding: 4px 8px;
		background-color: $header;

		p
		{
			width: 100%;
		}
	}

	@media all and (max-width: 500px)
	{
		width: 100%;
	}
}

.buttons-article-news
{
	display: inline-block;
	text-align: right;
	float: right;
	min-width: 25%;
	margin: 4px 0 0 0;

	@media all and (max-width: 500px)
	{
		margin: 10px 0 0 0;
	}
}