/* Section */

.edt
{
	float: left;
	width: 100%;
	font-family: arial;

	.hour-column
	{
		width: 5%;
	}

	.jours
	{
		font-size: 0.8em;
		padding: 10px;
		border-right: 1px $border solid;
		border-bottom: 1px $border solid;
		border-top: 1px $border solid;
	}

	.entree
	{
		display: inline-block;
		color: $body;
		padding: 12px 4px 11px 4px;
		border-right: 1px $border solid;
		border-bottom: 1px $border solid;
	}

	.interval
	{
		border-right: 1px $border solid;
	}
	
	ul
	{
		
		margin: 0;
		float: left;
		width:  19%;
		text-align: center;
	}

	li
	{
		margin: 0;
		text-align: center;
		font-size: 0.7em;
		line-height: 1.3em;
		padding: 0;
		@include box-sizing(border-box);
	}

	.hour-bottom-solid
	{
		display: inline-block;
		padding: 6px 4px 0px 4px;
		border-bottom: 1px $border solid;
		border-right: 1px $border solid;
	}

	.hour-bottom-dashed
	{
		display: inline-block;
		padding: 0px 4px 6px 4px;
		border-bottom: 1px $border dashed;
		border-right: 1px $border solid;
	}

	.info-cours
	{
		font-size: 0.9em;
		line-height: 1.2em;
		color: $color-light;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

		em
		{
			font-size: 1em;
		}
	}
}