/* Section */

.appel-img
{
	max-width: 95%;
	display: block;
	margin: auto;
}

.validate-appel
{
	float: right;
}

.search-appel
{
	margin: 0 0 10px 0;
}

.person
{
	cursor: pointer;
	margin: 20px 10px 20px 10px ;
	padding: 10px 10px 0px 10px;
	display: inline-block;
	@include border-radius(2px);
	vertical-align: bottom;

	background: $header;

	.eleve-img
	{
		max-width: 120px;
		display: block;
		margin: auto;
		@include box-sizing(content-box);
	}

	.name-eleve
	{
		margin: 5px auto;
		display: block;
		text-align: center;
	}

	@media all and (max-width: 880px)
	{
		width: 18%;
		margin: 3%;
	}

	@media all and (max-width: 680px)
	{
		width: 25%;
		margin: 3.5%;
	}

	@media all and (max-width: 510px)
	{
		width: 40%;
		margin: 4%;
	}

	@media all and (max-width: 420px)
	{
		width: 100%;
		margin: 15px 0;
	}
}

.away
{
	background: $away;

	&:hover, &:active, &:focus
	{
		background: darken($away, 5%);
	}
}

.retard
{
	background: $retard;

	&:hover, &:active, &:focus
	{
		background: darken($retard, 5%);
	}
}

/*********************************************************************************************/