/* Section */

.away
{
	background: $away;

	&:hover, &:active, &:focus
	{
		background: darken($away, 5%);
	}
}

.retard
{
	background: $retard;

	&:hover, &:active, &:focus
	{
		background: darken($retard, 5%);
	}
}

.appel-img
{
	max-width: 95%;
	display: block;
	margin: auto;
}

.validate-appel
{
	float: right;
}