.show-comments
{
	display: inline-block;
	font-size: 0.9em;
	background: $header;
	padding: 3px 8px;
	@include border-radius(3px);
	margin: 15px 0 0 0;

	&:hover, &:focus, &:active
	{
		background: darken($header, 5%);
	}

	.nombre-commentaires
	{
		background-color: $texte;
		color: $color-light;
		font-size: 0.8em;
		@include border-radius(50px);
		padding: 0 5px;
		margin: 0 0 0 4px;
	}
}

.comments
{
	display: block;
	padding: 4px 8px;
	background-color: $header;
	margin: 15px 0 0 0;
	@include border-radius(3px);

	.delete
	{
		font-size: 0.75em;
		margin: 0 0 0 10px;
		padding: 0 3px;
		cursor: pointer;
		color: lighten($texte, 30%);
		background: $header;
		border: none;

		&:hover, &:focus, &:active
		{
			background: $button-no;
			color: $color-light;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
			@include border-radius(2px);
		}
	}

	input[type="text"]
	{
		display: inline-block;
		vertical-align: middle;
		margin: 5px 0;
		height: 14px;
		width: 50%;
		min-width: 150px;
		resize: none;
		padding: 5px 62px 5px 5px;
	}

	.add
	{
		display: inline-block;
		vertical-align: middle;
		max-height: 17px;
		margin: 5px 0;
		padding: 1px 8px 2px 8px;
		position: relative;
		right: 62px;
		
		font-size: 0.9em;
		background: $header;
		color: $texte;
		cursor: pointer;
		@include appearance(none);
		border: none;
		@include border-radius(2px);

		&:hover, &:focus, &:active
		{
			color: $button-color;
			text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
			background: $button-yes;
		}
		
	}

	.auteur
	{
		font-weight: 700;
	}

	.commentaire
	{
		font-size: 0.9em;
	}

}