.project-title
{
	margin: 0;
	text-align: left;
	font-size: 2.3em;

	.project-users
	{
		font-size: 0.75em;
	}
}

.project-nav
{
	float: right;
	vertical-align: bottom;
	display: inline-block;
	margin: 0 0 0 4px;
}

.case
{
	width: 0.7%;
	height: 12px;
	background-color: rgb(200,200,200) ;
	display: inline-block; 
	margin: 0;
}

.done
{
	background-color: #e67e22 ;	
}

.documentheque
{
	margin: 10px 0;
}

.documentheque-ressources, .documentheque-fichiers
{
	text-align: center;
	width: 49%;
	display: inline-block;
	border: 1px $border dashed;
	@include border-radius(6px);
	@include box-sizing(border-box);
	padding: 7px;

	h3
	{
		text-align: center;
	}

	.ressource
	{
		width: 80px;
		height: 80px;
	}

	.error
	{
		margin: 10px auto;
	}

	.detail
	{
		text-align: left;
		background: $header;
		padding: 0px 10px 8px 10px;
		width: 100%;
		@include box-sizing(border-box);
		@include border-radius(3px);
	}

	.buttons
	{
		margin: 5px 0 0 4px;
		float: right;
	}

	@media all and (max-width: 800px)
	{
		width: 100%;
		margin: 0 0 25px 0;
	}
}

.documentheque-fichiers
{
	float: left;
}

.documentheque-ressources
{
	float: right;
}

.permissions
{
	margin: 5px 0 0 0;
}

.liste-taches
{
	display: inline-block;
	width: 29%;
	margin: 0 1.6% 20px 1.6%;
	border: 1px $border dashed;
	@include border-radius(6px);
	@include box-sizing(border-box);
	padding: 7px;
	vertical-align: top;

	@media all and (max-width: 800px)
	{
		width: 48%;
		margin: 0 0.5% 20px 0.5%;
	}

	@media all and (max-width: 500px)
	{
		width: 100%;
		margin: 0 0 20px 0;
	}

	h4
	{
		text-align: center;
		margin: 0 0 5px 0;
	}

	input[type="checkbox"]
	{
		display: none;
	}

	.tache
	{
		margin: 5px 0;
		@include pie-clearfix;
		cursor: pointer;
	}

	.unchecked, .checked
	{
		&:after
		{ 
			content: "";
			float: left;
			display: inline-block;
			min-width: 1em;
			min-height: 1em;
			margin: 2px 6px 0 0;
			@include border-radius(10px);
		}
	}

	.checked:after
	{
		background-color: $vert;

	}

	.unchecked:after
	{
		background-color: $rouge;
	}

	.buttons-detail
	{
		@include pie-clearfix;
	}

	.voir, .button-detail
	{
		line-height: 1.5em;
		float: right;
		font-size: 0.8em;
		margin: 0;
		padding: 0 3px;
		cursor: pointer;

		color: lighten($texte, 30%);
		background: $header;
		border: none;
		@include appearance(none);

		&:hover, &:focus, &:active
		{
			background: $orange;
			color: $color-light;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
			@include border-radius(2px);
		}
	}

	.bouton-ajouter, .bouton-supprimer
	{
		cursor: pointer;
		background: $header;
		padding: 3px 0 8px 0;
		@include border-radius(3px);
		margin: 5px 0 0 0;
		width: 100%;
		font-size: 2em;
		font-weight: 700;
		text-align: center;
	}

	.bouton-supprimer
	{
		padding: 3px 0;
		font-size: 0.4em;

		&:hover, &:active, &:focus
		{
			color: $button-color;
			background: darken($button-no, 5%);
		}
	}

	.ajouter
	{
		margin: 15px 0 0 0;
		background: $header;
		padding: 5px 5px 8px 5px;
		width: 100%;
		@include box-sizing(border-box);
		@include border-radius(3px);
	}

	.options-button
	{
		margin-top: 11px;
		margin-bottom: -7px;
	}

	.validate-add
	{
		margin: 0;
	}

	.detail
	{
		margin: 0 0 10px 0;
		background: $header;
		padding: 8px;
		width: 100%;
		@include box-sizing(border-box);
		@include border-radius(3px);
	}

	.list-in-detail
	{
		margin: 5px;
	}
}