.project-title {
	margin: 0 ;
	text-align: left ;

	.project-users {
		font-size: 0.75em ;
	}
}

.project-nav {
	float: right ;
	vertical-align: bottom;
}

.case
{
	width: 0.7%;
	height: 12px;
	background-color: rgb(200,200,200) ;
	display: inline-block; 
	margin: 0;
}

.done
{
	background-color: #e67e22 ;	
}

.documentheque
{
	margin: 10px 0;
}

.documentheque-ressources, .documentheque-fichiers
{
	width: 48%;
	display: inline-block;
	border: 2px $border dashed;
	@include border-radius(4px);
	@include box-sizing(border-box);
	padding: 7px;

	h3
	{
		text-align: center;
	}

	.error
	{
		margin: 10px 0;
	}
}

.documentheque-fichiers
{
	float: left;
}

.documentheque-ressources
{
	float: right;
}