.formulaire-creation
{
	.title
	{
		margin: 0;
		display: block;
		font-weight: 700;
	}

	.horaires, .tuteur-in-eleve
	{
		background: $header;
		padding: 10px;
		margin: 20px 0 0 0;
		@include border-radius(3px);
	}

	span
	{
		display: block;
		margin: 10px 0 0 0;

		.input input
		{
			display: block;	
		}

		input, select, .select2-container, .add-another-tuteurs, textarea
		{
			margin: 3px 5px 0 0;
		}

		textarea
		{
			width: 80%;
		}

		span
		{
			margin: 0;
		}
	}

	.select2-container
	{
		*
		{
			margin-top: 0;
		}
	}

	.nom, .prenom, .fixe, .mobile
	{
		display: inline-block;

		@media all and (max-width: 450px)
		{
			display: block;
		}
	}

	.nom, .mobile
	{
		margin: 0 0 0 20px;
		vertical-align: bottom;

		@media all and (max-width: 650px)
		{
			margin: 10px 0 0 0;
		}
	}

	.tuteurs, .eleves, .titre
	{
		.select2-container, input
		{
			min-width: 164px;
		}
	}

	.adresse
	{
		.input input
		{
			width: 280px;
		}
	}
	
	.validate
	{
		margin-top: 11px;
		display: inline-block;
		float: right;
	}

	.profil-picture
	{
		float: right;
	}

	.delete-horaire
	{
		display: inline-block;
		margin: 8px 0 0 0;
	}

	.semaines
	{
		margin: 10px 0;
		cursor: pointer;

		.semaine1, .semaine2, .semaine3, .semaine4, .semaine5, .semaine6, .semaine7, .semaine8
		{
			height: 40px;
			width: 40px;
			text-align: center;
			border: 1px $border solid;
		}

		.checked
		{
			background: $header;
		}
	}
}

.infos
{
	font-size: 1em;

	.label
	{
		font-weight: 700;
		display: block;
		margin: 13px 0 0 0;
	}

	.info
	{
		display: block;	
		margin: 3px 5px 0 0;
	}

	.nom, .prenom, .fixe, .mobile
	{
		display: inline-block;
	}
	
	.modifier
	{
		margin-top: 11px;
		float: right;

		.button
		{
			margin: 0 5px 0 0;
		}
	}

	.img-downloaded
	{
		float: right;
	}
}