.formulaire-creation-utilisateur
{
	span
	{
		display: block;
		margin: 10px 0 0 0;

		.input
		{
			display: block;	
		}

		input, select, .select2-container, .add-another-tuteurs
		{
			margin: 3px 5px 0 0;
		}
	}

	.nom, .prenom, .fixe, .mobile
	{
		display: inline-block;
	}

	.nom, .mobile
	{
		margin: 0 0 0 20px;
	}

	.tuteurs, .eleves
	{
		.select2-container
		{
			min-width: 158px;
		}
	}
	
	.validate
	{
		margin-top: 11px;
		display: inline-block;
		float: right;
	}
}

.infos-utilisateur
{
	font-size: 1em;

	.label
	{
		font-weight: 700;
		display: block;
		margin: 13px 0 0 0;
	}

	.info
	{
		display: block;	
		margin: 3px 5px 0 0;
	}

	.nom, .prenom, .fixe, .mobile
	{
		display: inline-block;
	}
	
	.modifier
	{
		margin-top: 11px;
		float: right;
	}
}