.create
{
	margin: 15px 0;
}

.liste
{
	margin: 5px 0 0 0;
}

.li-list
{
	margin: 2px 4px 2px 0 ;
	padding: 3px 10px;
	display: inline-block;
	@include border-radius(2px);

	background: $header;
	text-align: center;

	&:hover, &:active, &:focus
	{
		background: darken($header, 5%);
	}

	span
	{
		display: block;
	}

	img
	{
		display: inline;
		margin: 7px 0;
	}
}