/* Header */
.button-login
{
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	width: 200px;

	z-index: 3;
}


#login-box
{
	display: block;
	position: fixed;
	right: 0;
	width: 200px;

	background: $header;

	z-index: 1;

	span, button
	{
		margin: 13px 10px;
		display: block;
	}

	#name, #password
	{
		width: 180px;
		@include box-sizing(border-box);
	}

	@include animate(0.4s);

	@include box-sizing(border-box);
}

.login-box-closed
{
	top: -1000px;
}

.login-box-open
{
	top: 50px;
}



/********************************************************************************/
/* Section */
.section-login
{
	padding: 75px 10% 20px 10%;

	.article
	{
		h2
		{
			margin: 0 0 10px 0;
		}

		p
		{
			margin: 0 0 5px 0;
			text-indent: 1em;
		}
	}
}

.img-present
{
	display: block;
	margin: auto;
	width: 100%;
	max-width: 800px;
	max-height: 260px;
	overflow: hidden;
}