/* Header */
.button-login
{
	position: fixed;
	top: 0;
	right: 0;
	height: 50px;
	width: 200px;

	z-index: 3;
}


#login-box
{
	display: block;
	position: fixed;
	right: 0;
	width: 200px;
	padding: 10px;

	background: $header;

	z-index: 1;

	label
	{
		margin: 13px auto 3px auto;
		display: block;
	}

	input[type="submit"]
	{
		display: block;
		margin: 0;
	}

	#username, #password
	{
		width: 180px;
		@include box-sizing(border-box);
		margin: 0;
		display: block;
	}

	.remember
	{
		display: inline-block;
		margin: 13px 10px 13px 0;
		vertical-align: middle;
	}

	@include animate(0.4s);

	@include box-sizing(border-box);

	@media all and (max-width: 500px)
	{
		width: 100%;
	}
}

.login-box-closed
{
	top: -1000px;
}

.login-box-open
{
	top: 50px;
}



/********************************************************************************/
/* Section */
.section-login
{
	padding: 75px 10% 20px 10%;

	.article
	{
		h2
		{
			margin: 0 0 10px 0;
		}

		p
		{
			margin: 0 0 5px 0;
			text-indent: 1em;
		}
	}
}

.img-present
{
	display: block;
	margin: auto;
	width: 100%;
	max-width: 800px;
	max-height: 260px;
	overflow: hidden;
}

.login-error-message
{
	width: 350px;
	padding: 10px 3%;
	color: $error-color;
	background: $error;

	@include box-sizing(border-box);

	@media all and (max-width: 780px)
	{
		padding: 10px 5%;
	}

	@media all and (max-width: 500px)
	{
		margin: 0 0 30px 0;
		width: 100%;
		max-width: 350px;
	}
}


.login-error-box
{
	margin: 60px auto 0 auto;
	width: 350px;
	padding: 25px 3%;
	font-size: 1.3em;

	background: $header;

	label
	{
		margin: 13px 0 3px 0;
		display: block;
	}

	input[type="submit"]
	{
		display: block;
		margin: 0;
	}

	#username, #password
	{
		width: 100%;
		@include box-sizing(border-box);
		padding: 10px;
		margin: 0;
		display: block;
		font-size: 1em;
	}

	.remember
	{
		display: inline-block;
		margin: 13px 10px 13px 0;
		vertical-align: middle;
	}

	@include box-sizing(border-box);

	@media all and (max-width: 780px)
	{
		padding: 25px 5%;
	}

	@media all and (max-width: 500px)
	{
		margin: 0;
		width: 100%;
		max-width: 350px;
	}
}