.liens
{
	@include pie-clearfix();
	display: block;

	.button-message-right
	{
		float: right;
		margin: 0 0 10px 10px;
	}

	.button-message-left
	{
		float: left;
		margin: 0 10px 10px 0;
	}
}

.apercu-message
{
	padding: 8px 5px;

	&:hover, &:focus, &:active
	{
		background: $header;
	}
}

.new-message
{
	line-height: 1.35em;
	float: none;
	padding: 1px 7px;
	margin: 0 0 0 5px;
}

.actions-messages
{
	float: right;
	display: inline-block;

	@media all and (max-width: 760px)
	{
		display: block;
		text-align: center;	
	}
}

@mixin action-message
{
	font-size: 0.8em;
	margin: 0;
	padding: 1px 4px;
	cursor: pointer;
	background: $header;
	color: $texte;
	border: none;
	@include appearance(none);

	display: inline;

	&:hover, &:focus, &:active
	{
		color: $color-light;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
		@include border-radius(2px);
	}
}

.show-message, .undelete-message
{
	@include action-message;

	&:hover, &:focus, &:active
	{
		background: $button-yes;
	}
}

.delete-message
{
	@include action-message;

	&:hover, &:focus, &:active
	{
		background: $button-no;
	}
}

.conversation
{
	background: $header;
	padding: 10px;
	@include border-radius(3px);

	.from-recever
	{
		display: block;
		float: left;
		min-width: 30%;
		max-width: 70%;
		margin: 5px 25% 5px 0;
		padding: 5px 10px;
		background-color: $message-recu;
		@include border-radius(3px);
	}

	.from-sender
	{
		display: block;
		float: right;
		min-width: 30%;
		max-width: 70%;
		margin: 5px 0 5px 25%;
		padding: 5px 10px;
		background-color: $message-envoye;
		@include border-radius(3px);
	}

	.messages
	{
		@include pie-clearfix;
	}

	.send-message
	{
		float: right;
	}
}

.participants
{
	@include pie-clearfix;

	margin: 0 0 5px 0;
	.sender
	{
		float: left;
	}

	.recever
	{
		float: right;
	}
}

.message-write
{
	display: block;

	textarea
	{
		@include box-sizing(border-box);
		margin: 10px 0 0 0;
		padding: 8px;
		width: 100%;
		height: 100px;
	}
}