.button-new-message
{
	margin: 10px 0;
	display: inline-block;
}

.apercu-message
{
	padding: 8px 5px;

	&:hover, &:focus, &:active
	{
		background: $header;
	}
}

.delete-message, .undelete-message
{
	font-size: 0.8em;
	margin: 0;
	padding: 1px 4px;
	cursor: pointer;
	background: $header;
	color: $texte;
	border: none;
	@include appearance(none);

	display: inline;

	&:hover, &:focus, &:active
	{
		color: $color-light;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
		@include border-radius(2px);
	}
}

.undelete-message
{
	&:hover, &:focus, &:active
	{
		background: $button-yes;
	}
}

.delete-message
{
	&:hover, &:focus, &:active
	{
		background: $button-no;
	}
}

.conversation
{
	background: $header;
	padding: 10px;
	@include border-radius(3px);

	.input
	{
		margin: 0 10px 10px 0;

		& .select2-container
		{
			width: 175px;
		}
	}

	.from-recever
	{
		display: block;
		float: left;
		min-width: 30%;
		max-width: 70%;
		margin: 5px 25% 5px 0;
		padding: 5px 10px;
		background-color: $message-recu;
		@include border-radius(3px);
		word-wrap: break-word;
		overflow-wrap: break-word;
	}

	.from-sender
	{
		display: block;
		float: right;
		min-width: 30%;
		max-width: 70%;
		margin: 5px 0 5px 25%;
		padding: 5px 10px;
		background-color: $message-envoye;
		@include border-radius(3px);
		word-wrap: break-word;
		overflow-wrap: break-word;
	}

	.messages
	{
		@include pie-clearfix;
	}

	.wrap-button
	{
		@include pie-clearfix;
	}

	.send-message
	{
		float: right;
	}
}

.participants
{
	@include pie-clearfix;

	margin: 0 0 5px 0;
	.sender
	{
		float: left;
	}

	.recever
	{
		float: right;
	}
}

.message-write
{
	display: block;
	@include box-sizing(border-box);
	margin: 10px 0 0 0;
}

.reponse
{
	margin: 20px 0 0 0;
}

.send-in-conversation
{
	position: relative;
	bottom: 27px;
	right: 5px;
}