/* Vue des notes - Section */

.notes-by-matieres
{
	width: 100%;
	
	td
	{
		width: 10%;
		text-align: center;
	}

	.axes
	{
		width: 0.2%;
		border-left: 1px $border solid;
	}

	.graph-hidden
	{
		div
		{
			display: inline-block;
			vertical-align: bottom;
			width: 5%;
			margin: 0 2%;
			background: #5bacad;
			height: 1px;

			@include transition(all ease 1.2s);
		}
	}

	.graph
	{
		border-bottom: 1px $border solid;

		td
		{
			padding: 0;
		}

		div
		{
			display: inline-block;
			vertical-align: bottom;
			width: 5%;
			margin: 0 2%;
			background: #5bacad;

			@include box-sizing(border-box);

			@include transition(all ease 1.2s);
		}
	}

	.moyennes
	{
		height: 30px;

		div
		{
			display: inline-block;
			width: 9%;
		}
	}

	.matieres-name
	{
		div
		{
			display: inline-block;
			vertical-align: top;
			width: 9%;

			font-size: 0.75em;
			line-height: 1.3em;
		}
	}
}

.wrap-details
{
	padding: auto;
	text-align: center;
	
	*
	{
		margin: 5px;
	}
}

.detail, .liste-eleves-a-noter
{
	th
	{
		text-align: center;
		padding: 8px;
		border: 1px $border solid;
		background-color: $header;
	}

	td
	{
		text-align: center;
		padding: 8px;
		border: 1px $border solid;
	}
}

.detail
{
	display: inline-block;
}

.eleves-a-noter
{
	text-align: center;
}

.liste-eleves-a-noter
{
	margin: 20px 0 10px 0;
	input[type="text"]
	{
		max-width: 30px;
		min-width: 30px;
		margin: 0;
		text-align: center;
	}

	input[type="checkbox"]
	{
		margin: 3px 0 0 0;
	}
}

.coeff-global
{
	input[type="text"]
	{
		max-width: 30px;
		min-width: 30px;
		text-align: center;
	}
}

.noter
{
	margin: auto;
	text-align: center;

	.wrap
	{
		display: inline-block;
		text-align: left;
	}
}