.liste-ressources
{
	display: inline-block;
	width: 75%;
	padding: 0 20px 0 0;
	@include box-sizing(border-box);
}

.tri-ressources
{
	display: inline-block;
	float: right;
	position: fixed;
	@include box-sizing(border-box);
	border-left: 2px $table-border solid;
	margin: 25px 0 0 5px;

	.wrap
	{
		.in-tri-ressources
		{
			padding: 4px 10px;

			&:hover, &:active, &:focus
			{
				background: darken($header, 5%);
			}
		}

		padding: 9px 0;
	}

	.matieres
	{
		margin: 10px;
	}

	.ressources
	{
		margin: 10px;
		padding: 5px;
	}
}