{% extends 'KubCollaborationBundle::layout.html.twig' %}

{% block content %}
    
    <h3 class="section-title">{{ fichier }}</h3>
    
	<article class="article">
		<iframe src="{{ fichier.getWebPath }}" frameborder="0" width="100%" height="500px" style="margin: 0;"></iframe>
	</article>

{% endblock %}

{% block js %}
    
	<script>

		document.domain =  "{{ fichier.domain }}";

	</script>

{% endblock %}