{% extends 'KubCollaborationBundle::layout.html.twig' %}

{% block content %}
	
	<h3 class="section-title">{{ fichier }}</h3>

	<article class="article">
		
		{% include 'KubCollaborationBundle:Ressource:show_content.html.twig' %}

	</article>

{% endblock %}