<span class="label">Nom du fichier :</span>
<span class="info">{{ fichier }}</span>

<span class="label">Date de création :</span>
<span class="info">{{ fichier.dateAjout|date('d/m/Y') }}</span>

<span class="buttons">
	<a class='button' href="{{ path('kub_collaboration_documentheque_fichier_edit', { slug: projet.slug, id: fichier.id}) }}">Modifier</a>
	<a class="button-yes" href="{{ fichier.url }}">Accèder</a>
</span>
