{{ form_start(form) }}

	<span class="commentaire">
		{{ form_widget(form.contenu, { 'attr': {'placeholder': 'Commentez ici...'} }) }}
		<input class="add" value="Ajouter" type="submit"></input>
	</span>

{{ form_end(form) }}