{{ form_start(form, { 'attr': {'class': 'inline-block'} }) }}
	
	<label for="delete-{{ commentaire.id }}" class="delete">Suppr.</label>
	<input id="delete-{{ commentaire.id }}" type="submit" hidden=""></input>

{{ form_end(form) }}