{{ form_start(form, { 'attr': {'class': 'inline-block'} }) }}
	
	<label for="delete-{{ commentaire.id }}" class="delete">Suppr.</label>
	<input id="delete-{{ commentaire.id }}" type="submit" hidden="" style="display: inline-block; height: 0; border: none; width: 0; padding: 0; margin: 0;"></input>

{{ form_end(form) }}