{% extends 'KubMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2 class="message-box-title">Rechercher</h2>

<p>{% transchoice threads|length with {'%num%': threads|length } from 'FOSMessageBundle' %}
    threads_found
{% endtranschoice %}</p>

{% include 'KubMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
