{% extends 'KubNotificationBundle:Notification:Notification.html.twig' %}

{% block content %}
    <p>
    	<strong>{{ notification.auteur }}</strong> a commenté la trace <strong>{{ notification.commentaire.post.titre }}</strong> de votre fil d'Ariane :
    </p>
    <div class="extract">
    	<p>{{ notification.commentaire.contenu }}</p>
    </div>
{% endblock %}