{% extends 'KubNotificationBundle:Notification:Notification.html.twig' %}

{% block content %} 
    <p>
    	<strong>{{ notification.auteur }}</strong> a ajouté la trace <strong>"{{ notification.post.titre }}"</strong> à son fil d'Ariane :
    </p>
    <div class="extract">
    	<p>"{{ notification.post.contenu | raw }}"</p>
    </div>
{% endblock %}