{% extends 'KubNotificationBundle:Notification:Notification.html.twig' %}

{% block content %}
    <p>
    	<strong>{{ notification.user }}</strong> à proposé la ressource <strong>{{ notification.ressource.nom }}</strong> qui pourrait vous interesser.
    </p>
{% endblock %}