{% extends 'KubNotificationBundle:Notification:Notification.html.twig' %}

{% block content %}
    <p>
    	<strong>{{ notification.user }}</strong> à proposé la ressource <strong>{{ notification.ressource.nom }}</strong>. Merci de la vérifier et de la valider si elle correspond à la charte d'utilisation.
    </p>
{% endblock %}