{% extends 'KubNotificationBundle:Notification:Notification.html.twig' %}

{% block content %}
    <p>
    	<strong>{{ notification.auteur }}</strong> vous à ajouté la note de <strong>{{ notification.note }}</strong> pour le contrôle <strong>{{ notification.note.controle.nom }}</strong> en <strong>{{ notification.note.controle.matiere }}</strong>
    </p>
{% endblock %}