{% extends 'KubNotificationBundle:Notification:Notification.html.twig' %}

{% block content %}
    <p>
    	Bonjour et bienvenue sur le Kub ! Merci pour votre présence sur cette version d'essais, n'hésitez pas a envoyer des messages à Nathan Rajohnson et Adrien Boquet si vous trouvez des erreurs.
    </p>
{% endblock %}