{% for notification in notifications %}
    
	{% include 'KubNotificationBundle:Notification:' ~ notification.class ~ '.html.twig' with {"notification":notification} only %}

{% else %}
    
	<p class="error">Vous n'avez aucune notification</p>

{% endfor %}