{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Vos notifications
{% endblock %}

{% block body %}
	
	<div class="article"><h3 class="section-title">Vos notifications</h3></div>

	<article class="article">

		{% include 'KubNotificationBundle:Show:show_content.html.twig'%}

	</article>

{% endblock %}
