{% extends 'KubCollaborationBundle::layout.html.twig' %}

{% block content %}
    
	<article class="article">
		
		{% include 'KubCollaborationBundle:Projet:form.html.twig' with { form: form } only %}

	</article>

	<article class="article">
		
		<p><a class="button-no" href="{{ path('kub_collaboration_projet_delete', { slug: projet.slug }) }}">Supprimer le projet</a></p>

	</article>

{% endblock %}