{% extends 'KubCollaborationBundle::layout.html.twig' %}

{% block content %}
	
	<article class="article-news bordered-accueil">
		<div class="head-article">
			<h2 class="h2">Description</h3>
		</div>
		<div class="content-article">
			<p>
				
				{% if projet.description is not null %}
					{{ projet.description }}
				{% else %}
					Aucune description pour le moment
				{% endif %}

			</p>
		</div>
	</article>

	<article class="article-news bordered-accueil">
		<div class="head-article">
			<h2 class="h2">Participants au projet</h3>
		</div>
		<div class="content-article">
			<p>{{ projet.getUsersAsString(app.user) }}</p>
		</div>
	</article>

	<article class="article-news bordered-accueil">
		<div class="head-article">
			<h2 class="h2">Avancement des taches</h3>
		</div>
		<div class="content-article">
			{% for lt in projet.organisateur.listeTaches if lt.taches|length > 0 %}

				{% set done = (lt.countCheckedTaches / lt.taches|length * 100) | round %}

				<div class="jauge">
					<p>{{ lt }}</p><br>
					{% spaceless %}
					{% for i in 0..100 %}
						<div 
						class="case
							{% if i < done %} done {% endif %}
						"></div>
					{% endfor %}
					{% endspaceless %}
				</div>

			{% else %}
				<p>Aucune tache pour le moment</p>
			{% endfor %}
		</div>

	</article>

	<article class="article">
		<p class="float-right"><a href="{{ path('kub_collaboration_projet_leave', { slug: projet.slug }) }}" class="button-no">Quitter le projet</a></p>
	</article>

{% endblock %}
