{% extends "::base.html.twig" %}

{% block body %}
	
	
		<article class="article">
			<h2 class="section-title">{{ 'Bonjour'|trans }} {{ app.user.prenom }}</h2>
		</article>

		<article class="article">
			
			{{ ShowNotifications() }}
			
		</article>
	

{% endblock %}