{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Notes des groupes
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Dernieres notes ajoutées</h2>
	</article>
    
	<article class="article">

		<label for="search-in-list">Chercher dans la liste :</label>
		<input id="search-in-list" type="text">
		
		<ul class="liste">
			{% for groupe in groupes %}
			
				<a href="{{ path('kub_notes_professeur_homepage', { groupe: groupe.name }) }}">
					<li class="in-list li-list">
						<span>{{ groupe }}</span>
					</li>
				</a>

			{% endfor %}

			{% if groupes|length == 0 %}
				<li>Aucun groupe enregistré pour le moment</li>
			{% endif %}
		</ul>
	</article>

{% endblock %}