{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Poster une trace
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Poster une nouvelle trace</h2>
	</article>

	<article class="article">
		
		{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

			{% include('KubArianeBundle:Post:form.html.twig') %}		
			
			<div class="validate">
				<input type="submit" class="button-yes">
				<a class="button" href="{{ path('ariane_homepage') }}">Annuler</a>
			</div>
			
		{{ form_end(form) }}

	</article>

{% endblock %}