{% extends "::base.html.twig" %}

{% block body %}

	<article class="error">
		{{ form_start(form) }}
			
			<p>Êtes vous sûr de vouloir supprimer le post <strong>{{ post.titre | lower }}</strong> ?</p>

			<br />
			<input class="button-yes" type="submit"> ou <a class="button-no" href="{{ path('ariane') }}">Annuler</a>	
		{{ form_end(form) }}
	</article>
			
{% endblock %}