{% extends "::base.html.twig" %}

{% block body %}

		<article class="article">
			<h2>Nom du groupe: {{ groupe.name }}</h2>
			<p><a href="{{ path("groupe_edit", {id: groupe.id }) }}">Modifier</a></p>
		</article>
	

{% endblock %}
