{% extends "::base.html.twig" %}

{% block body %}

	
		<article class="article">
			<ul>
				{% for user in list_users %}
				
					<li><a href="{{ path('user_show', { role: app.request.get('role'), username: user.username }) }}">{{ user.nom }} {{ user.prenom }}</a></li>

				{% endfor %}
			</ul>
		</article>
		

{% endblock %}