{% extends "KubUserBundle:Show:show.html.twig" %}

{% block details %}

	<span class="label">Type d'aministrateur :</span>
	{% if "ROLE_SURVEILLANT" in user.roles %}
		
		<span class="info">Surveillant</span>

	{% elseif "ROLE_CPE" in user.roles %}
		
		<span class="info">Conseiller Principal d'éducation</span>

	{% elseif "ROLE_MANITOU" in user.roles %}
		
		<span class="info">Grand Manitou</span>

	{% elseif "ROLE_SECRETAIRE" in user.roles %}
		
		<span class="info">Secrétaire</span>
	
	{% endif %}

{% endblock %}