{% extends '::base.html.twig' %}

{% block title %}
	{{ parent() }} - Projets
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Mes projets</h2>
	</article>

	<article class="article">
		
		<a href="{{ path('kub_collaboration_projet_create') }}" class="button">Créer un projet</a>

	</article>

	<article class="article">
		
		{% for projet in liste_projets %}
		    <p><a class="li-list" href="{{ path('kub_collaboration_projet_show', { slug: projet.slug }) }}">{{ projet.toString(app.user) }}</a></p>
		{% else %}
			<p class="error">Vous ne participez à aucun projet pour le moment</p>
		{% endfor %}

	</article>

{% endblock %}