{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Emploi du temps
{% endblock %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Emploi du temps</h2>
	</article>

	<article class="article">
		
		{{ ShowEDT( app.user ) }}

	</article>

{% endblock %}