{% extends "::base.html.twig" %}

{% block body %}

	<section class="section">
		<article class="article">
			{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
		</article>
	</section>	

{% endblock %}