{% extends "::base.html.twig" %}

{% block body %}

	
		<article class="article">
			<p>Nom d'utilisateur: {{ app.user.username }}</p>
    		<p>Mon email: {{ app.user.email }}</p>
		</article>

		<article class="article">
			<h3>Parametres</h3>

			{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
		</article>
		
		<article class="article">
			<p><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></p>
		</article>

{% endblock %}