{% extends "::base.html.twig" %}

{% block body %}

	
		<article class="article">
			{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
		</article>
		
		<article class="article">
			<p><a href="{{ path('fos_user_change_password') }}">Changer de mot de passe</a></p>
		</article>

{% endblock %}