<table class="semaines">
	{{ form_errors(form) }}

	<tr class="line1"></tr>
	<tr class="line2"></tr>
	<tr class="line3"></tr>
	<tr class="line4"></tr>

	{% set i = 1 %}

	{% for semaine in form %}

		{% if i == 5 %}
			{% set i = 1 %}
		{% endif %}

		{% if loop.index <= 52 %}
			{% set index = loop.index %}
		{% else %}
		    {% set index = loop.index - 52 %}
		{% endif %}

		<td class="semaine{{ i }}">
    		{{ index }} {{ form_widget(semaine)}}
    	</td>

    	{% set i = i + 1 %}

	{% endfor %}

</table>