<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]>
				<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

	{% stylesheets '@KubHomeBundle/Resources/public/css/main.css' filter='cssrewrite' %}
    	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>

<body class="body">
	
	<header class="header">
		<h1>Kub</h1>
		<h2>LaBrush puissance ENT !</h2>
	</header>

	<aside class="aside-left">
		<div class="head-aside">
			<img src="{{ asset('images/profil.png') }}" alt="photo de profil" class="round-img profil-picture">
			<h2 class="profil-name h3">{{ app.user.prenom }} {{ app.user.nom }}</h2>
		</div>
		<div class="content-aside">
			<ul class="links-aside">
				<li>
					<h3 class="h2">ACCUEIL</h3>

				</li>
				<li>
					<h3>MON PROFIL</h3>

				</li>
				<li>
					<h3>MES DEVOIRS</h3>

				</li>
				<li>
					<h3>MES NOTES</h3>

				</li>
				<li>
					<h3>MON AGENDA</h3>

				</li>
				<li>
					<h3>MES MATIERES</h3>

				</li>
			</ul>
		</div>
	</aside>

	<section class="section">
		<h3 class="slogan">L'actualité qui me concerne !</h3>
		<span class="tri">Trier par: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>- Date</strong> &nbsp;&nbsp;- Matiere</span><br/>
		
		<article class="article">
			<div class="head-article">
				<h3 class="h3">Note ajoutée</h3>
				<span class="small bold">Histoire - SI1 et SI2</span>
				<img src="images/profil.png" class="participants-pictures round-img">
			</div>
			<hr/ class="hr-green">
			<div class="content-article">
				<p>
					<strong>M. Dupont</strong> vous a attribué la note de <strong>16/20</strong> en <strong>Histoire</strong> <em>(DS du 15/09/13)</em>
				</p>
				<button class="button button-green">Détails</button>
			</div>
		</article>

		<article class="article">
			<div class="head-article">
				<h3 class="h3">Heure déplacée</h3>
				<span class="small bold">Espagnol - SI1 et ES4</span>
				<img src="images/profil.png" class="participants-pictures round-img">
			</div>
			<hr/ class="hr-red">
			<div class="content-article">
				<p>
					Le cours de <strong>M. Dupont</strong> du <strong>vendredi 20/09</strong> de <strong>9h à 10h</strong> est déplacé le <strong>vendredi 20/09</strong> de <strong>10h à 11h</strong>
				</p>
				<button class="button button-red">Emploi du temps</button>
			</div>
		</article>

		<article class="article">
			<div class="head-article">
				<h3 class="h3">Cours publié</h3>
				<span class="small bold">Histoire - SI1 et SI2</span>
				<img src="images/profil.png" class="participants-pictures round-img">
			</div>
			<hr/ class="hr-blue">
			<div class="content-article">
				<p>
					<strong>M. Dupont</strong> a publié le cours du <strong>vendredi 20/09</strong> de <strong>10h à 11h</strong> :
				</p>
				<button class="button button-blue">Afficher le cours</button>
				<div class="extract">
					<h4 class="underline">I- La guerre au mali</h4><br/>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, maxime, ullam, assumenda beatae sunt quod alias repellat ut corporis esse hic architecto aspernatur harum voluptate.<br/>
						<strong>...</strong>
					</p>
				</div>
			</div>
		</article>

		<article class="article">
			<div class="head-article">
				<h3 class="h3">Devoirs ajoutés</h3>
				<span class="small bold">Mathémathiques - SI1</span>
				<img src="images/profil.png" class="participants-pictures round-img">
			</div>
			<hr/ class="hr-green">
			<div class="content-article">
				<p>
					<strong>Mme Mirelle</strong> a donné des devoirs pour le <strong>lundi 30/09</strong> :
				</p>
				<button class="button button-green">Afficher les devoirs</button>
				<div class="extract">
					<h4 class="underline">Exercices page 80</h4><br/>
					<p>3, 5, 7 et 8 <strong>...</strong></p>
				</div>
			</div>
		</article>
	</section>

	<aside class="aside-right">
		<p class="large">
			Bientot plus...
		</p>
	</aside>

	
</body>
</html>