{% extends "::base.html.twig" %}

{% block body %}
	
	<section class="section">
		<article class="article">
			<h2 class="section-title">{{ 'Bonjour'|trans }} {{ app.user.prenom }}</h2>
		</article>
	</section>

{% endblock %}