{{ form_start(form) }}
{{ form_widget(form) }}

<select name="" id="test">
	<option value="">Coucou</option>
	<option value="">test</option>
	<option value="">bip</option>
</select>

{{ form_end(form) }}