{% extends 'KubCollaborationBundle::layout.html.twig' %}

{% block content %}
  
	<article class="error">
		{{ form_start(form) }}
			
			<p>Êtes vous sûr de vouloir supprimer la liste "<strong>{{ liste }}</strong>" ainsi que tout sont contenu ? Cette action est irréversible.</p>
			<br>

			<div class="float-right">
				<input class="button-yes" type="submit" Value="Supprimer"> ou <a class="button-no" href="{{ path('kub_collaboration_organisation_index', { slug: projet.slug }) }}">Annuler</a>
			</div>
			<br>
		{{ form_end(form) }}
	</article>
			
{% endblock %}