{% extends "::base.html.twig" %}

{% block body %}

	<h1>Créer un membre de l'administration</h1>
	<form action='{{ path("user_create", {role: 'administrateur'}) }}' method="POST">

		{{ form_widget(form) }}
    	<input type="submit" />

	</form>

{% endblock %}