{% extends "::base.html.twig" %}

{% block body %}

	<h1>Créer un {{ user.class }}</h1>
	{{ form_start(form) }}

		{% block form %}
		{% endblock %}

	<input type="submit">

	{{ form_end(form) }}

{% endblock %}