{% extends "::base.html.twig" %}

{% block body %}

	<section class="section">
		<article class="article">
			<h2 class="section-title">Créer un {{ user.class }}</h2 class="section-title">
		</article>

		<article class="article">
			{{ form_start(form) }}

				{% block form %}
				{% endblock %}

			<input type="submit">

			{{ form_end(form) }}
		</article>
	</section>	

			

{% endblock %}