/* Layout */
$body:					#fafafa;


/*******************************************/
/* Header */
$header:    			rgba(235, 235, 235, 0.9);
$user:      			#e67e22;
$logo:      			#e67e22;


/*******************************************/
/* Nav */
$button:        		$header;
$nav:	        		$header;
$notifications: 		$logo;


/*******************************************/
/* Sections */
$error:   				$header;
$table-border: 			#ebebeb;
$cour-annule: 			#ffa5a5;
$cour-ajoute: 			#a7fdab;
$person: 				#cdf1e2;
$away: 					#ffa9a9;
$retard: 				#fee6aa;
$message-recu: 			#ffd4b1;
$message-envoye: 		#ccffa3;



/******************************************************************************/
/* Objets */
$accueil: 				#e67e22;
$espace-collaboratif:	#f2c72f;
$agenda: 				#22b6e6;
$vie-lyceenne: 			#f28fbe;
$bigbro: 				#f73b40;


$utilisateurs: 			#f2c72f;
$groupes: 				#80d625;


$jaune: 				#f2c72f;  // Jaune
$vert: 					#80d625;  // Vert
$bleu: 					#22b6e6;  // Bleu
$rose:					#f28fbe;  // Rose
$rouge: 				#f73b40;  // Rouge


$button-color: 			#fefefe;
$button: 				$accueil;
$button-yes: 			#80d625;
$button-no: 			#f73b40;



/******************************************************************************/
/* Typo */
$texte:         		#5d5e64;
$liens:         		#4478a2;
$liensSurvoles: 		none;
$color-light:   		#fefefe;