/* Menu */

.bordered-accueil {border-left: 4px solid $accueil;}
.bordered-projets {border-left: 4px solid $projets;}
.bordered-espace-collaboratif {border-left: 4px solid $espace-collaboratif;}
.bordered-agenda {border-left: 4px solid $agenda;}
.bordered-groupes {border-left: 4px solid $groupes;}
.bordered-bigbro {border-left: 4px solid $bigbro;}

.bordered-groupes-professeur {border-left: 4px solid $groupes-professeur;}
.bordered-ressources-professeur {border-left: 4px solid $ressources-professeur;}
.bordered-agenda-professeur {border-left: 4px solid $agenda-professeur;}
.bordered-utilisateurs {border-left: 4px solid $utilisateurs;}

/**************************************************************************/
/* Categories de matiere */

.scientifique {background: $jaune;}
.economie-et-societe {background: $vert;}
.litterature {background: $vert;}
.langue {background: $bleu;}
.autres {background: $rouge;}
.enseignement-d-exploration { background: $rose;}
.option {background: $rose;}
.art {background: $rose;}


/**************************************************************************/
/* Tableaux */
.table {
	th
	{
		padding: 8px;
		border: 1px $border solid;
		background-color: $header;
	}

	td
	{
		padding: 8px;
		border: 1px $border solid;
	}
}

/**************************************************************************/
/* Boutons */

@mixin button
{
	display: inline-block;
	text-align: center;
	border: none;
	margin: 0;
	@include border-radius(2px);
	padding: 3px 8px 1px 8px;
	color: $button-color;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	font-size: 12px;
	cursor: pointer;

	@include appearance(none);

	&:hover, &:active, &:focus
	{
		color: $button-color;
	}
}

.button
{
	@include button;

	background: $button;

	&:hover, &:active, &:focus
	{
		background: darken($button, 5%);
	}
}

.button-yes
{
	@include button;

	background: $button-yes;

	&:hover, &:active, &:focus
	{
		background: darken($button-yes, 5%);
	}
}

.button-no
{
	@include button;

	background: $button-no;

	&:hover, &:active, &:focus
	{
		background: darken($button-no, 5%);
	}
}

.button-login
{
	@include button;

	background: $button;
	padding: 0 20px;
	font-size: 1.1em;

	@include border-radius(0);

	&:hover, &:active, &:focus
	{
		background: darken($button, 5%);
	}
}

.button-options
{
	@include button;

	background: $button;
	padding: 0 20px;
	font-size: 1.1em;

	@include border-radius(0);

	&:hover, &:active, &:focus
	{
		background: darken($button, 5%);
	}
}


.button-menu
{
	@include button;

	background: $nav;
	padding: 0 20px;
	font-size: 1.1em;

	@include border-radius(0);

	&:hover, &:active, &:focus
	{
		background: darken($nav, 5%);
	}
}

.button-bigbro
{
	@include button;
	background: $bigbro;

	&:hover, &:focus, &:active
	{
		background: darken($bigbro, 5%);
	}
}

.button-devoirs
{
	@include button;
	background: $agenda;

	&:hover, &:focus, &:active
	{
		background: darken($agenda, 5%);
	}
}

.button-cours
{
	@include button;
	background: $agenda;

	&:hover, &:focus, &:active
	{
		background: darken($agenda, 5%);
	}
}

.button-espace-collaboratif
{
	@include button;
	background: $espace-collaboratif;

	&:hover, &:focus, &:active
	{
		background: darken($espace-collaboratif, 5%);
	}
}

.button-agenda
{
	@include button;
	background: $agenda;

	&:hover, &:focus, &:active
	{
		background: darken($agenda, 5%);
	}
}

.button-notes
{
	@include button;
	background: $bigbro;

	&:hover, &:focus, &:active
	{
		background: darken($bigbro, 5%);
	}
}

.notifications
{
	float: right;

	background-color: $notifications;
	font-size: 0.75em;

	color: $color-light;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

	@include border-radius(50px);

	padding: 1px 7px 0 7px;
}


/*********************************************************************/
/* Inputs */
$input: 	#aaaaaa;

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="tel"], input[type="select"], input[type="url"], select, textarea
{
	padding: 3px;
	border: 1px $input solid;
	@include border-radius(3px);

	&:hover, &:focus, &:active
	{
		border: 1px $input solid;
	}
}

input[type="text"], input[type="password"], input[type="email"], input[type="search"], input[type="tel"]
{
	&:not([size])
	{
		min-width: 164px;
	}
}

input[type="submit"]
{
	display: inline-block;
}


label
{
	cursor: pointer;
}

/**********************************************************************/
/* Classes utilitaires */

.unscrollable
{
	overflow: hidden;
}

.inline-block
{
	display: inline-block;
}

.hidden
{
	display: none;
}

.profil-picture
{
	@include border-radius(3px);
	max-height: 100px;
	max-width: 100px;
}

.float-right
{
	float: right;
}

.center {
	text-align: center ;
	margin: auto;
	display: block ;
}
