{% extends "::base.html.twig" %}

{% block body %}

	<article class="article">
		<h2 class="section-title">Appel</h2>
	</article>

	<article class="article">

		{{ form_start(form, { 'attr': {'class': 'formulaire-creation'} }) }}

			{% include "KubAbsenceBundle:Professeur:form.html.twig" %}

			<span class="validate">
				<input class="button-yes" type="submit">
			</span>
		{{ form_end(form) }}

	</article>

{% endblock %}