{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }} - Appel
{% endblock %}

{% block body %}

	<article class="error">
		
		<p>Vous n'avez pas cours en ce moment</p>

	</article>

{% endblock %}