{% extends "::base.html.twig" %}

{% block body %}

	<a href="{{ path('fos_user_security_login') }}">Se connecter</a>

	<section class="section-login">
		<article class="article">
			<img src="{{ asset('images/login/photo.png') }}" alt="" class="img-present">
		</article>
		
		<article class="article">
			<h2>Titre Bidon</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quam dolore nostrum voluptas dicta. Quae, consequatur, adipisci, sapiente, assumenda itaque alias quia dicta facere placeat quos similique ab nostrum a dolore aliquid nesciunt optio. Velit, facere, sint laborum quam eum rerum eaque molestiae nesciunt expedita aut quos animi modi quo ratione voluptate.</p>
		</article>
		
		<article class="article">
			<h2>Titre Bidon</h2>
			<p>Dignissimos mollitia nobis adipisci dicta tenetur iusto esse quisquam labore. Natus, dolore, esse quod corporis rerum voluptate voluptas id excepturi et eos repudiandae laborum expedita a laudantium aspernatur quaerat obcaecati dignissimos! Veritatis, incidunt, aliquid, laboriosam suscipit pariatur nihil deleniti dicta cum doloremque voluptatem obcaecati quae maxime tempore enim sint temporibus voluptates! Praesentium.</p>
		</article>

		<article class="article">
			<h2>Titre Bidon</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quam dolore nostrum voluptas dicta. Quae, consequatur, adipisci, sapiente, assumenda itaque alias quia dicta facere placeat quos similique ab nostrum a dolore aliquid nesciunt optio. Velit, facere, sint laborum quam eum rerum eaque molestiae nesciunt expedita aut quos animi modi quo ratione voluptate.</p>
		</article>
	</section>

{% endblock %}