{% extends "::base.html.twig" %}

{% block body %}
	
		<article class="article">
			<h2 class="section-title">Créer un cours</h2>
		</article>

		<article class="article">
			{{ form_start(form, { 'attr': {'class': 'formulaire-creation-utilisateur'} }) }}

				{% include "KubEDTBundle:Cours:form.html.twig" %}

				<span class="validate">
					<input class="button-yes" type="submit">
					<a class="button" href="{{ path('cours_list') }}">Annuler</a>
				</span>
			{{ form_end(form) }}
		</article>			

{% endblock %}