{% extends "::base.html.twig" %}

{% block body %}

		<article class="article">
			
			<p><a href="{{ path('cours_create') }}">Créer un cours</a></p>

		</article>

		<article class="article">
			<ul>
				{% for cours in list_cours %}
				
					<li><a href="{{ path('cours_edit', { id: cours.id }) }}">{{ cours.name }}</a></li>

				{% endfor %}
			</ul>
		</article>
		

{% endblock %}