{% extends "::base.html.twig" %}

{% block body %}

		<article class="article">
			<h2>Nom du cours: {{ cours }}</h2>
			<p><a href="{{ path("cours_edit", {id: cours.id }) }}">Modifier</a></p>
		</article>
	

{% endblock %}
